<div class="mx-3 my-5">

    <button class="flex justify-evenly items-center w-[80%] h-[75px] mx-auto my-10 py-2 bg-button-primary rounded-lg xsm:w-[50%] md:ml-0 lg:w-[35%] lg:ml-40">
        <div id="google-btn"></div>
        <!-- <p class="lg:text-xl">Connexion Google <br><span class="text-sm lg:text-md">(Cliquez sur l'îcone)</span></p> -->
    </button>
    <a 
    href="https://github.com/Paul-Serrano/red_wire" 
    target="_blank" 
    class="flex justify-evenly items-center w-[80%] h-[75px] mx-auto my-10 py-2 bg-white rounded-lg border-2 border-black xsm:w-[50%] md:mr-0 lg:w-[35%] lg:mr-40">
        <img src="assets/img/logo-github.png" alt="Github" />
        <p class="w-40 text-center lg:text-xl">Lien vers Github</p>
    </a>

    <a 
    href="assets/file/RedWireProject.pdf" 
    class="flex justify-evenly items-center w-[80%] h-[75px] mx-auto py-2 bg-button-secondary rounded-lg xsm:w-[50%] md:ml-0 lg:w-[35%] lg:ml-40" 
    download>
        <img src="assets/img/logo-file.png" alt="Dossier" />
        <p class="w-40 text-center lg:text-xl">Dossier Projet</p>
    </a>

</div>
