<div class="mx-3 my-5">

    <div id="google-btn" class="inline-block"></div>

    <a href="https://github.com/Paul-Serrano/red_wire" target="_blank" class="flex justify-evenly items-center h-[75px] mx-auto my-10 py-2 bg-white rounded-lg border-2 border-black">
        <img src="assets/img/logo-github.png" alt="Github" />
        <p class="w-40 align-middle text-center">Lien vers Github</p>
    </a>

    <a href="assets/file/RedWireProject.pdf" class="flex justify-evenly items-center h-[75px] m-auto py-2 bg-button-secondary rounded-lg" download>
        <img src="assets/img/logo-file.png" alt="Dossier" />
        <p class="w-40 text-center">Dossier Projet</p>
    </a>

</div>
