
<div *ngIf="user" class="lg:text-textColor-secondary lg:grid lg:grid-cols-3 lg:grid-rows-3 lg:my-10">
    <div class="w-[90%] mt-2 mx-auto lg:col-span-1 lg:row-span-1 lg:flex lg:flex-col lg:mt-0 lg:justify-center lg:bg-background-fourth lg:rounded">
        <p class="text-center">Bienvenue à {{ user.weather_now.name + " " + user.given_name}}</p>
        <p class="text-center mt-2 mb-3">Données prélevées le {{ user.weather_now.date }} à {{ user.weather_now.time }}</p>
    </div>
    
    <hr class="hidden lg:flex mx-auto my-auto w-[80%] h-[2.5px] bg-background-fourth lg:row-start-2 lg:col-start-1">
    <app-map class="lg:col-span-2 lg:row-span-3 lg:col-start-2 lg-row-start-1" [user]="user"></app-map>
    
    <div class="flex flex-col justify-evenly items-center w-[90%] py-2 mx-auto mt-3 lg:col-span-1 lg:row-span-1 lg:justify-start lg:mt-0 lg:bg-background-fourth lg:rounded">
        <span>Météo: {{ user.weather_now.weather[0].description }}</span>
        <span class="my-2">Température: {{ user.weather_now.main.temp }} °C</span>
        <span>Humidité: {{ user.weather_now.main.humidity }} %</span>
        <span class="my-2">Pression atmosphérique: {{ user.weather_now.main.pressure }} bar</span>
    </div>
</div>

<div *ngIf="!user" class="h-[500px] flex items-center justify-center">
    <app-loader></app-loader>
</div>

