<!-- rgpd.component.html -->

<div class="rgpd-dialog">
  <h2>Politique de confidentialité et consentement RGPD</h2>
  <p>
    Nous collectons certaines données personnelles pour fournir nos services. En
    utilisant notre site, vous consentez à notre utilisation de vos données
    conformément à notre politique de confidentialité.
  </p>

  <h3>Données collectées :</h3>
  <ul>
    <li>Localisation géographique</li>
    <li>Informations météorologiques</li>
    <li>Données compte google</li>
  </ul>

  <h3>Utilisation des données :</h3>
  <p>
    Nous utilisons les données collectées pour fournir des services de
    géolocalisation et de météorologie personnalisés.
  </p>

  <h3>Consentement :</h3>
  <p>
    En cliquant sur "Accepter", vous consentez à la collecte et à l'utilisation
    de vos données personnelles comme décrit ci-dessus.
  </p>

  <div class="rgpd-buttons">
    <button (click)="accept()">Accepter</button>
  </div>
</div>
