<!-- rgpd.component.html -->

<div class="m-5 text-center">
  <div class="lg:flex justify-evenly items-center">
    <div class="lg:w-[40%]">
      <p>
        Red Wire est une application web qui vous fournit des informations sur votre localisation et la météo environnante. 
        Vous pouvez également consulter votre historique.
      </p>
      <p class="hidden md:flex">
        Développée selon une logique de mobile first, elle utilise un backend Python, Angular JS pour la partie frontend, et Tailwind CSS pour le design. 
        Les données sont stockées dans une base de données MongoDB.</p>
      <p class="hidden md:flex">Elle se connecte à deux API : Ipinfos pour les données de géolocalisation et OpenWeather pour les données météorologiques.</p>
    </div>

    <hr class="mx-auto my-5 w-[80%] h-[2.5px] bg-textColor lg:rotate-90 lg:w-[20%] lg:my-0">
    
    <div class="lg:w-[40%]">
      <h2 class="mb-2 font-bold">Politique de confidentialité et consentement RGPD</h2>
      <p class="mb-2">
        Nous collectons certaines données personnelles pour fournir nos services. En
        utilisant notre site, vous consentez à notre utilisation de vos données
        conformément à notre politique de confidentialité.
      </p>
    
      <h3 class="font-bold">Données collectées :</h3>
      <ul class="mb-2">
        <li>Localisation géographique</li>
        <li>Informations météorologiques</li>
        <li>Données compte google</li>
      </ul>
    
      <h3 class="font-bold">Utilisation des données :</h3>
      <p class="mb-2">
        Nous utilisons les données collectées pour fournir des services de
        géolocalisation et de météorologie personnalisés.
      </p>
    
      <h3 class="font-bold">Consentement :</h3>
      <p class="mb-2">
        En cliquant sur "Accepter", vous consentez à la collecte et à l'utilisation
        de vos données personnelles comme décrit ci-dessus.
      </p>
    </div>

  </div>

  <div>
    <hr class="mx-auto my-5 w-[80%] h-[2.5px] bg-textColor lg:my-10 xl:my-20">
    <div class="rgpd-buttons">
      <button (click)="accept()" class="bg-button-primary w-[50%] py-3 rounded-lg">Accepter</button>
    </div>
  </div>
</div>


