@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Anta';
    src: url('assets/fonts/Anta-Regular.ttf');
  }

::-webkit-scrollbar {
    width: 10px !important;
}

::-webkit-scrollbar-track {
    background-color: #7FC7D9 !important;
}

::-webkit-scrollbar-thumb {
    background-color: #0F1035 !important;
}